*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Brightorange: hsl(31, 77%, 52%); 
    --Darkcyan: hsl(184, 100%, 22%); 
    --Verydarkcyan:hsl(183, 97%, 14%);
    --Transparentwhite: hsla(0, 0%, 100%, 0.75);
    --Verylightgray: hsl(0, 0%, 95%);
}

body{
    background: var(--Verylightgray);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.box{
    max-width: 278px;
    max-height: 27rem;
    min-height: 24rem;
    padding: 1.5rem;
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.sedans{
    background: var(--Brightorange);
    border-radius: 8px 0 0 8px;
}

.suvs{
    background: var(--Darkcyan);
}

.luxury{
    background: var(--Verydarkcyan);
    border-radius: 0 8px 8px 0;
}

.box img{
    margin-bottom: 2rem;
}

.box h1{
    color: var(--Verylightgray);
    margin-bottom: 1.8rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

.box p{
    color: var(--Transparentwhite);
    line-height: 1.5;
}

.btn{
    text-decoration: none;
    background: var(--Verylightgray);
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
    position: absolute;
    bottom: -2rem;
    transition: .2s ease-in-out;
}

.sedans-btn{
    color: var(--Brightorange);
}

.suvs-btn{
    color: var(--Darkcyan);
}

.luxury-btn{
    color: var(--Verydarkcyan);
}

.btn:hover{
    background: transparent;
    color: var(--Verylightgray);
    border: 2px solid hsl(0, 0%, 95%);
}

.attribution {
    margin-bottom: 4rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width:390px) {
    section{
        flex-direction: column;
    }
    .box{
        padding: 2rem;
    }
    .box h1{
        margin-bottom: 1rem;
    }
    .sedans{
        border-radius: 8px 8px 0 0;
    }
    .luxury{
        border-radius: 0 0 8px 8px;
    }
}

@media screen and (max-width:500px) {
    section {
        flex-direction: column;
    }

    .sedans {
        border-radius: 8px 8px 0 0;
    }

    .luxury {
        border-radius: 0 0 8px 8px;
    }
}